
  h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align : center
    
  }
  h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align : center;
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  p {
    font-family: 'Times New Roman', Times, serif;
    text-align : center
  }
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  